apiVersion: v1
kind: Secret
metadata:
  name: postgres-credentials
type: Opaque
data:
  # Ajoutez ci-dessous votre mot de passe en base64
  # Vous pouvez utiliser : echo -n "VOTRE_MDP" |base64
  postgres-password: VOTRE_MDP_BASE64
